body{
    height: auto;
    
}

.sec-1{
    background-image: url(./asset/banner-img.png);
    width: 100%; 
    height: 700px; 
    /* background-image: url('image/background-image.jpg');  */
    background-size: 100% 100%;  
    background-repeat: no-repeat;
}
.sec-1 .container{
    color: white !Important;
}

.line{
    height: 10px;
    /* color: aquamarine; */
    background-color: #00008B;
    width: 126px;
    border-radius: 8px;
}

.write{
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 37px;
}
.card{
    width: auto;
    min-width: 265px !important;
    height: 263px !important;
    background: #FFFFFF;
border: 1px solid #BBBBBB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.card-img{
    width: 35px;
    height: 35px;
}
.card-body{
    padding: 33px !important;
}
.card-body p{
    font-weight: 500;

}
.digit{
    font-weight: bold;
    font-size: 37px;
}
.sec-3{
    /* background-image: url(./asset/bg-re.png) ; */
       background-color: #F2F2F2;
    width: 94%;
    height: 595px;
    margin-top: 204px;
    position: relative;
    transform: skew(-31deg, 20deg);
    border-radius: 200px 167px 232px 245px;
}


.con{
    transform: skew(+31deg, -20deg);
}



.mission{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.f1{
    text-align: justify;

}

.f2{
    text-align: justify;
}
/* .f2 ::after{
    content: "";
  clear: fix;
} */
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    /* background-image: url(./asset/f-bg.png); */
    background-color: #050A24;
    width: 100%; 
    height: auto; 
    background-size: 100% 100%;  
    background-repeat: no-repeat;
}
.footer .line{
    background-color: #FFFFFF;
}

.footer2 ul li{
    list-style: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}
.footer2 ul li a{
    color: white;
    text-decoration: none;
    float: left;
    
}
.footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.w a{
    font-weight: 400;
}
/* Style the links inside the navigation bar */
.play-btn{
        position: absolute;
    /* margin: 0; */
    /* padding: 0; */
    top: 569px;
    left: 950px;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .sec-3{
    background-color: #F2F2F2;
    width: 100%;
    height: 239px !important;
    margin-top: 204px;
    position: relative;
    transform: skew(-56deg, 24deg);
    border-radius: 200px 167px 232px 245px;
  }
  .con{
    transform: skew(56deg, -24deg);
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .sec-3{
    background-color: #F2F2F2;
    width: 100%;
    height: 210px !important;
    margin-top: 204px;
    position: relative;
    transform: skew(-58deg, 31deg);
    border-radius: 293px 39px 161px 386px;

  }
  .write{
    line-height: 15px !important;
  }
  .digit{
    font-size: 25px !important;
    font-weight: bold !important;
  }
  .con{
    margin-top: 0 !important;
    transform: skew(58deg, -31deg);
}
.f1 h1{
    font-size: 8px !important;
}
.f2 h1{
    font-size: 8px !important;
}
p{
    font-size: 5px !important;
}
  .f1{
        width: 100%;
    margin-left: 199px !important;
}
.line {
    height: 6px;
    /* color: aquamarine; */
    background-color: #00008B;
    width: 63px;
    border-radius: 8px;
}
.f2{
    margin-left: 293px !important;
    margin-top: -20px !important;
    width: 100% !important;
    margin-bottom: 75px !important;
}
.off{
    margin-bottom: 152px !important;
}
.sec-title h1{
    font-size: 20px !important;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sec-3{
    background-color: #F2F2F2;
    width: 100%;
    height: 300px !important;
    margin-top: 204px;
    position: relative;
    transform: skew(-56deg, 24deg);
    border-radius: 200px 167px 232px 245px;
}
.con{
    transform: skew(56deg, -24deg);
}
.con h1,p{
    font-size: 10px !important;
}
.line {
    height: 6px;
    /* color: aquamarine; */
    background-color: #00008B;
    width: 63px;
    border-radius: 8px;
}
.f1{
        width: 100%;
    margin-left: 155px !important;
}
.f2{
        width: 100% !important;
    margin-bottom: 86px !important;
}
.off{
    margin-bottom: 152px !important;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .sec-3 {
    background-color: #F2F2F2;
    width: 100%;
    height: 339px;
    margin-top: 228px;
    position: relative;
    transform: skew(-52deg, 24deg);
    border-radius: 200px 202px 189px 159px;
}

.digit{
    font-size: 25px !important;
    font-weight: bold !important;
  }
.con{
    transform: skew(52deg, -24deg);
}
.con h1,p{
    font-size: 10px !important;
}
.sec-4{
    margin-top: 180px !important;
}
.line {
    height: 6px;
    /* color: aquamarine; */
    background-color: #00008B;
    width: 63px;
    border-radius: 8px;
}
.f1{
        width: 100%;
        margin-top: 46px !important;
    margin-left: 208px !important;
}
.f2{
        width: 100% !important;
    margin-bottom: 86px !important;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sec-4{
    margin-top: 180px !important;
}
}
